<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.ducksrepo.dictionaryexample</string>
				<key>key</key>
				<string>popup</string>
				<key>label</key>
				<string>Enable popup</string>
				<key>PostNotification</key>
				<string>com.ducksrepo.dictionaryexample.updated</string>
			</dict>
		<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.ducksrepo.dictionaryexample</string>
				<key>key</key>
				<string>noold</string>
				<key>label</key>
				<string>Hide no older notifications text</string>
				<key>PostNotification</key>
				<string>com.ducksrepo.dictionaryexample.updated</string>
			</dict>
	<dict>
      <key>cell</key>
      <string>PSTextCell</string>
      <key>label</key>
      <string>Made by Turnt Ducky</string>
	</dict>
	<dict>
      <key>cell</key>
      <string>PSTextCell</string>
      <key>label</key>
      <string>Version 1.0.0</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
	</dict>
	<dict>
	  	<key>action</key>
	    <string>respring:</string>
	  	<key>cell</key>
	    <string>PSButtonCell</string>
	    <key>label</key>
	    <string>Respring</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring required to see popup and No Older Notifications to go away.</string>
	 </dict>
	</array>
	<key>title</key>
	<string>Dictionary Example</string>
</dict>
</plist>
